/* "Add" button styles: */
#AddButton {
    -fx-background-color: #68C3A3;
    -fx-font-size: 13px;
    -fx-font-family: "Avenir";
}
#AddButton:hover {
    -fx-background-color: #66CC99;
}
#AddButton:pressed {
    -fx-background-color: #03C9A9;
}

/* "Remove" button styles: */
#RemoveButton {
    -fx-background-color: #EF4836;
    -fx-font-size: 13px;
    -fx-font-family: "Avenir";
}
#RemoveButton:hover {
    -fx-background-color: #F64747;
}
#RemoveButton:pressed {
    -fx-background-color: #E74C3C;
}

/* "Help" button styles: */
#HelpButton {
    -fx-background-color: #F9BF3B;
    -fx-font-size: 13px;
    -fx-font-weight: BOLD;
    -fx-font-family: "Avenir";
}
#HelpButton:hover {
    -fx-background-color: #FCCB5B;
}
#HelpButton:pressed {
    -fx-background-color: #EB974E;
}
#HelpButton:selected {
    -fx-background-color: #EB974E;
}

/* GridPane style: */
#GridPane {
    -fx-background-color: #ECF0F1;
}

/* Input text box style: */
#Input {
    -fx-font-family: "Avenir";
}